<h1>My Projects</h1>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="<%= asset_path 'project1.jpg' %>" class="card-img-top" alt="Project 1">
        <div class="card-body">
          <h5 class="card-title">Project 1</h5>
          <p class="card-text">Description of Project 1.</p>
          <a href="#" class="btn btn-custom">Ver más</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="<%= asset_path 'project2.png' %>" class="card-img-top" alt="Project 2">
        <div class="card-body">
          <h5 class="card-title">Project 2</h5>
          <p class="card-text">Description of Project 2.</p>
          <a href="#" class="btn btn-custom">Ver más</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="<%= asset_path 'project3.jpg' %>" class="card-img-top" alt="Project 3">
        <div class="card-body">
          <h5 class="card-title">Project 3</h5>
          <p class="card-text">Description of Project 3.</p>
          <a href="#" class="btn btn-custom">Ver más</a>
        </div>
      </div>
    </div>
  </div>
</div>
